
$fontText: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
sans-serif;

$fontBig: 40px;
$fontMedium: 25px;
$fontSmall: 17px;
$fontSuperSmall: 14px;

$darkGreen:#5CD4C3;
$mediumGreen: #B1F5F1;
$lightGreen: #C3FCF1;

$darkGrey: #54585a;
$mediumGrey: #8AA2A9;
$lightGrey: #b8b8b9;

$white: #ffffff;