.side-drawer {
    height: 100%;
    background-color: white;
    box-shadow: 2px 0px 7px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 150px;
    z-index: 200;
    top: 0;
    left: 0;
    width: 50%;
    max-width: 200px;
    transform: translateX(-100%);// con esto se oculta
    transition: transform 0.3s ease-out
}

.side-drawer a:hover,
.side-drawer a:active{
    color: #fa923f
}

.sideDrawer__navigation-items{
    list-style: none;
    display: flex;
    flex-direction: column;
}

.sideDrawer__navigation-itemlink{
    color: purple;
    text-decoration: none;
}

.side-drawer.open{
    transform: translateX(0)//el side drawer está presente
}

